.nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 10px;
    object-fit: contain;

}

.user{
    width: 10px;
    object-fit: contain;
}